body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: radial-gradient( circle farthest-corner at -0.6% 44.4%,  rgba(142,252,152,1) 0%, rgba(107,214,250,1) 90% );
    /* background-image: radial-gradient( circle 997px at 99.9% 96.8%,  rgba(132,255,199,1) 0%, rgba(137,248,255,1) 90% ); */
}

p {
    margin: 5px;
}


.control {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2px;
}
#file {
    display: none;
}

.toggle, .file {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background-color: turquoise;
    margin: 5px 0;
    border: 1px solid turquoise;
    box-shadow: 1px 1px 3px #555;
}

.toggle + p {
    color: red;
}

input[type=text] {
    background-color: rgba(107,214,250,1);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
}

.outer {
    display: flex;
    justify-content: left;
    width: 100vw;
}

.content {
    border: 1px solid black; 
    width: 70vw;
    margin: 10px;
    overflow-x: hidden;
}

pre {
    margin: 0;
    font-size: 20px;
    font-family: serif;
}
pre:hover {
    background-color: #fff9a4;
    transition: ease 500ms;
    cursor: pointer;
}

.active {
    background-color: yellow;
}

iframe {
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
}